@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@plugin "daisyui"{
    themes: light 
};
@import "tailwindcss";




body{
    font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
       font-style: normal;
        font-variation-settings:
          "wdth" 100;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: var(--color-accent);
    --color-secondary: #EFF6FF;
  }



  .card-img {
    width: 100%;       /* Card er puro width nibe */
    height: 200px;     /* Ekta fixed height */
    object-fit: cover; /* Ete chobi stretch hobe na, kete giyeo fit thakbe */
  }